.background{
    z-index: -1;
    height: 100%;
    width:100%;
    filter: blur(20px);
}
.main{
    height: 100%;
    width:100%;
    z-index: 0;
}
.loginForm{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
}
body, html{
    position: fixed;
    height: 100%;
    width: 100%;
}