@import url('fonts/font.css');

.background {
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(20px);
}

.main {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.lfpos {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    margin-top: 0%;
    height: 5.4vh;
    width: 16vw;
}

.loginForm {
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 60%;
    transform: translate(-50%, -85%);
}

.passwd {
    background-color: rgba(206, 205, 205, 0.527);
    padding-left: 10px;
    height: 4vh;
    border: none;
    width: 12vw;
    border-radius: 25px;
}

.passwd:focus {
    outline: none;
}

.passwdBtn {
    background-color: rgba(206, 205, 205, 0.527);
    height: 4vh;
    border: none;
    width: 4vh;
    margin-left: 1vw;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.passwdBtnIcon {
    margin-top: .5vh;
    z-index: 1;
    position: absolute;
    margin-left: 88.5%;
    /*color: rgba(255, 255, 255, 0.692);*/
}

.usernamepos {
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    margin-bottom: 5%;
    margin-left: -1.7vw;
    margin-right: 2.5vw;
    height: 4vh;
    width: 12vw;
    text-align: center;
}

.more {
    margin-left: 85%;
    position: relative;
    bottom: 5.5vh;
}

.profile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    position: relative;
    margin-left: 4.5vw;
    margin-bottom: 2%;
}

.profilePic {
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}

.modal {
    height: 100%;
    padding: 1%;
}

.userSelectItem {
    height: 5%;
    margin-left: -12.5%;
}

.userPic {
    margin-right: 10vw;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}

.itemLeft {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-left: 1vw;
    margin-bottom: 2vh;
}

.itemRight {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 2vw;
    margin-bottom: 2vh;
}

.itemContainer {
    border-radius: 25px;
    height: 5.5vh;
    
    background-color: rgba(255, 255, 255, 0.589);
    color: black;
}

body,
html {
    position: fixed;
    height: 100%;
    width: 100%;
}

tr:hover {
    background-color: rgba(57, 149, 255, 0.384);
}

table {
    width: 100%
}

* {
    font-family: 'Roboto', sans-serif;

}